* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0 auto;
}

.app-header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(138,138,138,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(138,138,138,1);
    box-shadow: 1px 1px 5px 0px rgba(138,138,138,1);
}

.logo-container {
    align-items: center;
    background-image: url('./assets/bsalelogo.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 200px;
}

.cart-container {
    align-items: center;
    border: 1px rgba(105, 101, 101, 0.456);
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.cart-container p {
    font-weight: bold;
}

.cart-container:hover {
    cursor: pointer;
    color: rgb(217, 85, 3);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.category-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: 40px;
    width: 65%;
}

.products-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 10%;
    justify-content: center;
    padding: 10px;
    width: 60%;
}

.card-product {
    align-items: center;
    border: 1px solid rgba(138, 138, 138, 0.134);
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    -webkit-box-shadow: -9px 15px 11px -10px rgba(138,138,138,1);
    -moz-box-shadow: -9px 15px 11px -10px rgba(138,138,138,1);
    box-shadow: -9px 15px 11px -10px rgba(138,138,138,1);
}

.card-product section {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.product-price-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}

.card-header {
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.card-header img {
    height: 200px;
    width: 200px;
}

.card-product-info {
    height: 50px;
    width: 100%;
}

.product-price-container i:hover{
    cursor: pointer;
    color: rgb(217, 85, 3);;
}

/* Media querys */
@media (max-width: 1020px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 660px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 290px) {
    .app-header {
        align-items: center;
    }

    .logo-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        height: 60px;
        justify-content: center;
        margin-top: 10%;
        width: 100px;
    }

    .card-product {
        width: 270px;
    }

    .card-product section {
        font-size: 13px;
    }
}


